<tr>
      <td><%= permitdetail.permitdetail_id %></td>
      <td><%= permitdetail.question_text %></td>
      <td><%= permitdetail.commonquestion_text %></td>
      <td><%= permitdetail.strreply %></td>
      
</tr>